In [40]:
#classify the Size_Categorie using SVM

#month -	month of the year: 'jan' to 'dec'
#day -	day of the week: 'mon' to 'sun'
#FFMC -	FFMC index from the FWI system: 18.7 to 96.20
#DMC - DMC index from the FWI system: 1.1 to 291.3
#DC -	DC index from the FWI system: 7.9 to 860.6
#ISI -	ISI index from the FWI system: 0.0 to 56.10
#temp -	temperature in Celsius degrees: 2.2 to 33.30
#RH -	relative humidity in %: 15.0 to 100
#wind -	wind speed in km/h: 0.40 to 9.40
#rain -	outside rain in mm/m2 : 0.0 to 6.4
#Size_Categorie -	the burned area of the forest ( Small , Large)

In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns

from sklearn.svm import SVC
from sklearn.model_selection import train_test_split,cross_val_score

from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
forestfires = pd.read_csv("/content/forestfires.csv")

In [3]:
forestfires

    month  day  FFMC    DMC  ...  monthnov  monthoct  monthsep  size_category
0     mar  fri  86.2   26.2  ...         0         0         0          small
1     oct  tue  90.6   35.4  ...         0         1         0          small
2     oct  sat  90.6   43.7  ...         0         1         0          small
3     mar  fri  91.7   33.3  ...         0         0         0          small
4     mar  sun  89.3   51.3  ...         0         0         0          small
..    ...  ...   ...    ...  ...       ...       ...       ...            ...
512   aug  sun  81.6   56.7  ...         0         0         0          large
513   aug  sun  81.6   56.7  ...         0         0         0          large
514   aug  sun  81.6   56.7  ...         0         0         0          large
515   aug  sat  94.4  146.0  ...         0         0         0          small
516   nov  tue  79.5    3.0  ...         1         0         0          small

[517 rows x 31 columns]

In [4]:
data = forestfires.describe()

In [5]:
##Dropping the month and day columns
forestfires.drop(["month","day"],axis=1,inplace =True)

In [6]:
forestfires

     FFMC    DMC     DC   ISI  ...  monthnov  monthoct  monthsep  size_category
0    86.2   26.2   94.3   5.1  ...         0         0         0          small
1    90.6   35.4  669.1   6.7  ...         0         1         0          small
2    90.6   43.7  686.9   6.7  ...         0         1         0          small
3    91.7   33.3   77.5   9.0  ...         0         0         0          small
4    89.3   51.3  102.2   9.6  ...         0         0         0          small
..    ...    ...    ...   ...  ...       ...       ...       ...            ...
512  81.6   56.7  665.6   1.9  ...         0         0         0          large
513  81.6   56.7  665.6   1.9  ...         0         0         0          large
514  81.6   56.7  665.6   1.9  ...         0         0         0          large
515  94.4  146.0  614.7  11.3  ...         0         0         0          small
516  79.5    3.0  106.7   1.1  ...         1         0         0          small

[517 rows x 29 columns]

In [10]:

predictors = forestfires.iloc[:,0:28]
target = forestfires.iloc[:,28]

In [11]:
predictors

     FFMC    DMC     DC   ISI  ...  monthmay  monthnov  monthoct  monthsep
0    86.2   26.2   94.3   5.1  ...         0         0         0         0
1    90.6   35.4  669.1   6.7  ...         0         0         1         0
2    90.6   43.7  686.9   6.7  ...         0         0         1         0
3    91.7   33.3   77.5   9.0  ...         0         0         0         0
4    89.3   51.3  102.2   9.6  ...         0         0         0         0
..    ...    ...    ...   ...  ...       ...       ...       ...       ...
512  81.6   56.7  665.6   1.9  ...         0         0         0         0
513  81.6   56.7  665.6   1.9  ...         0         0         0         0
514  81.6   56.7  665.6   1.9  ...         0         0         0         0
515  94.4  146.0  614.7  11.3  ...         0         0         0         0
516  79.5    3.0  106.7   1.1  ...         0         1         0         0

[517 rows x 28 columns]

In [12]:
target

0      small
1      small
2      small
3      small
4      small
       ...
512    large
513    large
514    large
515    small
516    small
Name: size_category, Length: 517, dtype: object

In [13]:
##Normalising the data as there is scale difference
def norm_func(i):
    x= (i-i.min())/(i.max()-i.min())
    return (x)

In [14]:
fires = norm_func(predictors)

In [15]:
fires

         FFMC       DMC        DC  ...  monthnov  monthoct  monthsep
0    0.870968  0.086492  0.101325  ...       0.0       0.0       0.0
1    0.927742  0.118194  0.775419  ...       0.0       1.0       0.0
2    0.927742  0.146795  0.796294  ...       0.0       1.0       0.0
3    0.941935  0.110958  0.081623  ...       0.0       0.0       0.0
4    0.910968  0.172984  0.110590  ...       0.0       0.0       0.0
..        ...       ...       ...  ...       ...       ...       ...
512  0.811613  0.191592  0.771315  ...       0.0       0.0       0.0
513  0.811613  0.191592  0.771315  ...       0.0       0.0       0.0
514  0.811613  0.191592  0.771315  ...       0.0       0.0       0.0
515  0.976774  0.499311  0.711622  ...       0.0       0.0       0.0
516  0.784516  0.006547  0.115867  ...       1.0       0.0       0.0

[517 rows x 28 columns]

In [33]:
x_train,x_test,y_train,y_test = train_test_split(predictors,target,test_size = 0.25, stratify = target)

In [34]:
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((387, 28), (387,), (130, 28), (130,))

In [35]:
model_linear = SVC(kernel = "linear")
model_linear.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [36]:
pred_test_linear = model_linear.predict(x_test)

In [37]:
np.mean(pred_test_linear==y_test) # Accuracy = 100%

0.9692307692307692

In [39]:
acc = accuracy_score(y_test, pred_test_linear) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, pred_test_linear)

Accuracy = 96.92307692307692

array([[31,  4],
       [ 0, 95]])

In [21]:
# Kernel = poly
model_poly = SVC(kernel = "poly")
model_poly.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [22]:
pred_test_poly = model_poly.predict(x_test)

In [23]:
np.mean(pred_test_poly==y_test) #Accuacy = 100%

0.7923076923076923

In [24]:
# kernel = rbf
model_rbf = SVC(kernel = "rbf")
model_rbf.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [25]:
pred_test_rbf = model_rbf.predict(x_test)

In [26]:
np.mean(pred_test_rbf==y_test) #Accuracy = 74.6%

0.7692307692307693

In [27]:
#'sigmoid'
model_sig = SVC(kernel = "sigmoid")
model_sig.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [28]:
pred_test_sig = model_rbf.predict(x_test)

In [29]:
np.mean(pred_test_sig==y_test)

0.7692307692307693